[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "irtplay"]
	path = irtplay
	url = https://github.com/hwangq/irtplay
	shallow = true
	registered = true
